@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    position: relative;
  max-width: 1920px;
  min-width: 355px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
p {
    font-size: $fontsize-regular;
    color: $colour-grayscale-white;
    line-height: 21px;
    font-family: "Quicksand", sans-serif;
  }

  /* Variables */
$colour-grayscale-white: #f7f7f7;
$colour-grayscale-gray: #b7b7b7;
$colour-grayscale-dark: #5c5c5c;
$colour-grayscale-black: #191919;
/* */
$colour-transparent: #ffffff71;
/* */
$border-radius: 7px;

  /* Variables */

  .flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .align {
    justify-content: center;
    align-items: center;
  }
